<template>
  <div class="dashboard">
      <Sidemenu/>
      <div class="content-wrapper">
        <div class="available-balance">
          <b-row class="logo">
            <img src="public/img/logo.png" alt="">
          </b-row>
          <b-row>
            <h6>Available balance</h6>
          </b-row>
          <b-row class="align-items-center mb-3 mb-md-0" >
            <b-col class="col-6 d-flex align-items-center mb-0 ">
              <b-badge variant="primary">S$</b-badge>&nbsp; <span class="fs-2">3000</span>
            </b-col>
            <b-col class="col-6 text-end">
              <b-button class="custom-btn"><span>+</span>&nbsp; New card</b-button>
            </b-col>
          </b-row>
        </div>
        <div class="bottom">
           <b-tabs content-class="mt-3" fill>
            <b-tab title="My debit cards" active>
                <div class="card">
                  <b-col class="d-md-none d-block col-7 offset-5">
                    <p class="m-0 text-md-center text-end mb-0 mb-md-3]"><font-awesome-icon icon="eye" /> Show card number</p>
                  </b-col>
                  <b-col class="col-md-12 d-md-block d-none">
                    <p class="m-0 text-md-center text-end mb-0 mb-md-3 show-card"><font-awesome-icon icon="eye" /> Show card number</p>
                  </b-col>
                  <b-row class="desktop-view">
                    <b-col md="6" class="card-phone d-flex">
                    <div class="debit-card" v-for="i in debitCard" :key="i">
                    <b-row>
                      <h5 class="text-end">logo</h5>
                    </b-row>
                    <b-row>
                      <h5 class="my-2 my-md-3 ">{{i.name}}</h5>
                    </b-row>
                    <div class="card-number mb-1 mb-md-2">
                    <ul class="d-flex align-items-center">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li class="last-digit">{{i.lastDigit}}</li>
                    </ul>
                    </div>
                    <div class="expiry mb-2">
                    <ul class="d-flex">
                      <li>Thru:</li>
                      <li>{{i.expire}}</li>
                    </ul>
                    <ul class="d-flex">
                      <li>CVV:</li>
                      <li>12/20</li>
                    </ul>
                    </div>
                     <b-row>
                      <h5 class="text-end visa mb-0">VISA</h5>
                    </b-row>
                    </div>
                    
                    </b-col>
                    <b-col md="6" class="d-sm-block d-none">
                      <div  v-for="id in names" :key="id" class="mb-3 card-bottom">
          <div class="card-collapse" >
            <p v-b-toggle="'accordion-' + id" class="m-0">{{id}}</p>
          </div>
          <b-collapse :id="'accordion-' + id" :visible="false">
            <div class="card-drop" v-for="data in 4" :key="data">
              <b-row>
              <b-col md="6" class="col-6">
                <p class="m-0">Hamleys</p>
                <span class="fs-12 text-grey">20 May 2020</span>
                <p class="mb-0 fs-12">Refund on debit card</p>
              </b-col>
              <b-col md="6" class="col-6">
                <p class="m-0 text-end">+ S$ 150 </p>
              </b-col>
              </b-row>
            </div>
          </b-collapse>
      </div>
                    </b-col>
                  </b-row>
                </div>
            </b-tab>
            <b-tab title="All company cards">
                <div class="card">
                  <b-col class="d-md-none d-block col-7 offset-5">
                    <p class="m-0 text-md-center text-end mb-0 mb-md-3]"><font-awesome-icon icon="eye" /> Show card number</p>
                  </b-col>
                  <b-col class="col-md-12 d-md-block d-none">
                    <p class="m-0 text-md-center text-end mb-0 mb-md-3 show-card"><font-awesome-icon icon="eye" /> Show card number</p>
                  </b-col>
                  <b-row class="desktop-view">
                    <b-col md="6" class="card-phone d-flex">
                    <div class="debit-card" v-for="i in debitCard" :key="i">
                    <b-row>
                      <h5 class="text-end">logo</h5>
                    </b-row>
                    <b-row>
                      <h5 class="my-2 my-md-3 ">{{i.name}}</h5>
                    </b-row>
                    <div class="card-number mb-1 mb-md-2">
                    <ul class="d-flex align-items-center">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li class="last-digit">{{i.lastDigit}}</li>
                    </ul>
                    </div>
                    <div class="expiry mb-2">
                    <ul class="d-flex">
                      <li>Thru:</li>
                      <li>{{i.expire}}</li>
                    </ul>
                    <ul class="d-flex">
                      <li>CVV:</li>
                      <li>12/20</li>
                    </ul>
                    </div>
                     <b-row>
                      <h5 class="text-end visa mb-0">VISA</h5>
                    </b-row>
                    </div>
                     <div class="icons mb-3">
                      <ul class="col-10 offset-1">
                        <li v-for="action in actions" :key="action"><span><font-awesome-icon icon="eye" /></span>{{action}}</li>
                      </ul>
                    </div>
                    </b-col>
                    <b-col md="6" class="d-sm-block d-none">
                      <div  v-for="id in names" :key="id" class="mb-3 card-bottom">
          <div class="card-collapse" >
            <p v-b-toggle="'accordion-' + id" class="m-0">{{id}}</p>
          </div>
          <b-collapse :id="'accordion-' + id" :visible="false">
            <div class="card-drop" v-for="data in 4" :key="data">
              <b-row>
              <b-col md="6" class="col-6">
                <p class="m-0">Hamleys</p>
                <span class="fs-12 text-grey">20 May 2020</span>
                <p class="mb-0 fs-12">Refund on debit card</p>
              </b-col>
              <b-col md="6" class="col-6">
                <p class="m-0 text-end">+ S$ 150 </p>
              </b-col>
              </b-row>
            </div>
          </b-collapse>
      </div>
                    </b-col>
                  </b-row>
                </div>
            </b-tab>
        </b-tabs>
        </div>
      </div>
        <div class="custom-scrollable">
          <div class="icons mb-3">
            <ul class="col-10 offset-1">
              <li v-for="action in actions" :key="action"><span><font-awesome-icon icon="eye" /></span>{{action}}</li>
            </ul>
          </div>
      <b-col md="7" class="col-10 offset-1 d-md-none d-block">
        <div  v-for="id in names" :key="id" class="mb-3 card-bottom">
          <div class="card-collapse" >
            <p v-b-toggle="'accordion-' + id" class="m-0">{{id}}</p>
          </div>
          <b-collapse :id="'accordion-' + id" :visible="false">
            <b-row class="card-drop" v-for="data in 4" :key="data">
              <b-col md="6" class="col-6">
                <p class="m-0">Hamleys</p>
                <span class="fs-12 text-grey">20 May 2020</span>
                <p class="mb-0 fs-12">Refund on debit card</p>
              </b-col>
              <b-col md="6" class="col-6">
                <p class="m-0 text-end">+ S$ 150 </p>
              </b-col>
            </b-row>
          </b-collapse>
      </div>
      
      </b-col>
      </div>
     
  </div>
</template>

<script>
import Sidemenu from "../components/Sidemenu";
  export default {
    name: 'dashboard',
    components: {
      Sidemenu
    },
    data() {
      return {
        names: ['Card', 'Recent'],
        actions: ['Freeze card', 'Set spend limit', 'Add to GPay', 'Replace card', 'Cancel card'],
        debitCard: [
          {name: 'Elon', lastDigit: '2020', expire: '12/20' },
          {name: 'Mark', lastDigit: '2200', expire: '10/25' },
          {name: 'Jeff', lastDigit: '2130', expire: '11/23' },
          {name: 'Awadh', lastDigit: '2045', expire: '06/21' }
        ]
      }
    },
    methods: {

    }
  }
</script>
<style scoped>
.available-balance{
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.card-phone{
  overflow-x: auto;
}
.card-phone::-webkit-scrollbar{background-color:transparent;height: 0.01rem; border-radius: 25px; }
.card-phone::-webkit-scrollbar-thumb{background-color: transparent;border-radius: 25px;}
.dashboard{
  width: 100%;
  display: flex;
}
.content-wrapper{
  width: 80%;
  height: auto;
  overflow-y: auto;
  position: absolute;
  right: 0;
  padding: 2rem;
}
.show-card{
  color: #01D167 !important;
}
.badge{
  background-color: #01D167;
}
.fs-2{
  font-size: 1.5rem;
}
.custom-btn{
  background-color: #0C365A;
}
.card{
  background-color: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 7px rgb(0 0 0 / 12%);
  padding: 2rem;
}
.debit-card{
  background-color: #01D167;
  border-radius: 10px;
  padding: 1rem;
  color: #fff;
  margin-right: 12px;
  height: 220px;
}
ul{
  padding: 0;
  list-style-type: none;
}
.card-number  ul li{
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 10px;
  list-style-type: none;
  margin: 0 3px;
  align-items: center;
}
.card-number .last-digit{
  width: auto;
  height: auto;
  background-color: transparent;
  color: #fff;
}
.card-number ul li:nth-of-type(4n){
  margin-right: 10px;
}
.expiry{
  display: flex;
}
.expiry ul{
  width: 50%;
  margin-bottom: 0;
}
.visa{
  font-style: italic;
}
.card-collapse{
  background-color: #f5f9ff;
  padding: 1rem;
  font-style: 1rem;
  border-radius: 8px;
  box-shadow: 0 0px 0px rgb(0 0 0 / 0%), 0 0px 1px rgb(0 0 0 / 12%);
  margin-top: 20px;
}
.card-collapse:first-child{
  margin: 0;
}
/* .card p{
  color: #0c365a !important;
} */
.card-drop{
  border-bottom:1px solid #f5f9ff;
  padding: 1rem;
}
.card-bottom{
  border: 1px #f5f5f5 solid;
  border-radius: 8px;
}
.custom-btn span{
  width: 15px;
  height: 15px;
  line-height: 14px;
  display: inline-block;
  border-radius: 50%;
  font-weight: bolder;
  background-color: #fff;
  color: #0c365a;

}
@media only screen and (max-width: 600px) {
  .custom-btn:hover, .custom-btn:focus{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  .custom-btn span{
  width: 15px;
  height: 15px;
  line-height: 15px;
  display: inline-block;
  border-radius: 50%;
  background-color: #23cefd;
  color: #0c365a;
  font-size: 17px;

}
.content-wrapper{
  width: 100%;
  height: auto;
  position: absolute;
  padding: 0 1rem;
  color: #fff;
  top: 70px;
}
.card-bottom{
  border-radius: 8px;
}
.badge{
  background-color: #01D167;
}
.custom-btn{
  background-color: transparent;
  color: #23cefd;
  border: none;
  padding: 0;
}
.card{
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
}
.debit-card{
  background-color: #01D167;
  border-radius: 10px;
  padding: 1rem;
  min-width: 86vw;
  margin-right: 16px;
  color: #fff;
}
.card-phone{
  overflow-x: auto;
}
.card-phone::-webkit-scrollbar{background-color:transparent;height: 0.01rem; border-radius: 25px; }
.card-phone::-webkit-scrollbar-thumb{background-color: transparent;border-radius: 25px;}
.custom-scrollable{
  position: absolute;
  bottom: 0;
  background-color: white;
  z-index: 9;
      border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  width: 100%;
  box-shadow: 0 2px 30px rgb(0 0 0 / 29%), 0 47px 2px rgb(0 0 0 / 0%);
 
}
.icons{
    background-color: #edf3ff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}
.custom-scrollable ul {
  margin: 0 auto;
  padding: 10px 0;
}
.custom-scrollable ul li{
  display: inline-grid;
  width: 20%;
  text-align: center;
  color: #0C365A;
  font-size: 13px;
  line-height: 1.2;
}
.card p{
  background-color: #fff !important;
  color: #01D167 !important;
  font-size: 13px;
  padding: 0 20px;
  position: relative;
  right: 14px;
  top: 0px;
  border-top-left-radius: 8px;
}
}
</style>