<template>
  <div class="side-menu">
    <b-row class="d-block d-sm-inline-block">
        <img src="../../public/img/logo.png"  class="d-block d-sm-none" alt="">
        <img src="../../public/img/logo-big.png"   class="d-sm-block d-none"  alt="">
    </b-row>
      <ul>
          <li v-for="menu in menus" :key="menu">{{ menu }}</li>
      </ul>
  </div>
</template>

<script>
  export default {
    name: 'dashboard',
    data() {
      return {
        menus: ['Home', 'Cards', 'Payment', 'Credit', 'Settings']
      }
    },
    methods: {
     
    }
  }
</script>
<style scoped>
.side-menu{
    width: 20%;
    background-color: #0C365A;
    height: 100vh;
    padding: 2rem;
    position: fixed;
}
.side-menu img{
  height: 50px;
  float: right;
}
ul {
    padding: 0;
    list-style-type: none;
    
}
ul li{
    color: #fff;
    padding: 1rem 0rem;
}
ul li:hover{
    color: #01D167;
    padding: 1rem 0rem;
}
@media only screen and (max-width: 600px) {
.side-menu{
  width: 100%;
  background-color: #0C365A;
  height: 62vh;
  padding: 1rem;
  position: fixed;

}
.side-menu img{
  height: 40px;
  float: right;
  width: auto;
}
ul{
  display: none;
}
}
</style>