<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>


export default {
  name: "App",
  components: {

  },
};
</script>

<style>
.nav-fill > .nav-link, .nav-fill .nav-item{
  flex:  0 0 1 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #0C365A !important;
    border: none !important;
    border-bottom: 2px #0C365A solid !important;
    font-weight: 600;
}
.nav-tabs .nav-link{
  border: 2px transparent !important;
}
.nav-link{
    color: grey !important;
}
.nav-tabs{
  border: none !important;
  width: 40%;
}
.collapse {
  border-bottom: 1px #f5f5f5 solid;
}
.fs-12{
  font-size: .75rem;
}
.text-grey{
  color: #c0c0c0;
}
@media only screen and (max-width: 600px) {
  .nav-tabs{
  border: none !important;
  width: 80%;
}
.nav{
  flex-wrap: nowrap !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #fff !important;
    border: none !important;
    background-color: transparent !important;
    border-bottom: 2px #23cefd solid !important;
    font-weight: 600;
}
.nav-link{
    color: #f0f0f0 !important;
    padding: 0 !important;
}
.nav-item{
  flex: none !important;
}
.nav-item:first-child{
  margin-right: 20px;
}
}
</style>
